<main class="container">
  <h1>Warning! Your feedback was NOT submitted</h1>
  <p>Due to errors with the form you submitted we were unable to process your feedback. Please correct the following issues and re-submit to ensure that your feedback reaches our support team:</p>
  <ul>
    <% if !@ticket.nil? %>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    <% elsif @brush.nil? %>
      <li>Invalid brush SKU: <%= params[:brush_sku].inspect %></li>
    <% else %>
      <li>No support ticket found! This is a bug for Ada to fix, please let us know.</li>
    <% end %>
  </ul>

  <a class="btn btn-primary" href="javascript:void(0)" onclick="window.history.back();" role="button">Back to feedback form</a>
</main>
