<main class="container">
  <h1>Thank you for your feedback!</h1>
  <p>Our customer support team will receive and review your feedback soon. If your feedback concerns a malfunctioning product under warranty we will contact you regarding replacement options.</p>
</main>
